* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  text-align: center;
}

.flex-item-left {
  background-color: #e74d4d;
  padding: 1px;
  flex: 40%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}


@media (max-width: 800px) {
  .flex-container {
    flex-direction: row;
  }
}